<!DOCTYPE html>
<html lang="pt-BR">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="theme-color" content="#5b048e" />

		<!--title and icon-->
		<title>College Builder</title>
		<link rel="icon" href="./assets/images/brand/icon.png" />

		<!--fonts-->
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap"
			rel="stylesheet"
		/>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
			integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		/>

		<!--css-->
		<link
			rel="stylesheet"
			href="./styles/index/index.css"
			type="text/css"
			media="all"
		/>
		<link
			rel="stylesheet"
			href="./styles/styles/styles.css"
			type="text/css"
			media="screen"
			title="no title"
			charset="utf-8"
		/>
		<link
			rel="stylesheet"
			href="./styles/header/header.css"
			type="text/css"
			media="all"
		/>
		<link
			rel="stylesheet"
			href="./styles/main/main.css"
			type="text/css"
			media="all"
		/>

		<!--scripts-->
		<script defer src="./scripts/index.js" charset="utf-8"></script>
	</head>
	<body>
		<!---->
		<!---->
		<header class="style__header-line">
			<!---->
			<!---->
			<span class="style__header-line__line"> </span>
			<!---->
			<!---->
			<div class="style__section-padding">
				<div>
					<div>
						<ul>
							<li>
								<a href="#"> Tecnologias </a>
							</li>
							<span></span>
							<li>
								<a href="#"> Equipe </a>
							</li>
							<span></span>
							<li>
								<a href="#"> Universidade </a>
							</li>
						</ul>
					</div>
					<div class="logo-container">
						<a href="/" target="_blank">
							<picture>
								<source
									media="(min-width:640px)"
									srcset="./assets/images/brand/logo.png"
								/>
								<img
									src="./assets/images/brand/logo.png"
									alt="College Builder Logo"
								/>
							</picture>
						</a>
					</div>
					<!---->
					<!---->
					<button menu-button class="style__menu-button">
						<div>
							<div>
								<div></div>
								<div></div>
								<div></div>
							</div>
						</div>
					</button>
					<div>
						<a href="#" target="_blank">
							<i class="fa-solid fa-inbox"></i>
							email
						</a>
						<a href="#" target="_blank">
							<i class="fa-brands fa-github"></i>
							Github
						</a>
					</div>
					<!---->
					<!---->
				</div>
				<div menu-container>
					<ul>
						<li>
							<a href="#"> Tecnologias </a>
						</li>
						<li>
							<a href="#"> Equipe </a>
						</li>
						<li>
							<a href="#"> Universidade </a>
						</li>
					</ul>
				</div>
			</div>
		</header>
		<!---->
		<!---->
		<button menu-button--off></button>
		<!---->
		<!---->
		<main>
			<!---->
			<!---->
			<div class="style__section-line">
				<span class="style__section-line__line"></span>
				<div
					class="style__section-padding style__section-container section-group"
				>
					<h2>EQUIPE</h2>
					<div class="style__section-container__section-content">
						<div>
							<!---->
							<!---->
							<a href="#" target="_blank">
								<div>
									<span>
										<i class="fa-brands fa-linkedin"></i>
									</span>
									<img
										src="https://www.zooplus.pt/magazine/wp-content/uploads/2021/03/kitten-sitzt-boden-768x512-1.jpeg"
										alt=""
									/>
								</div>
								<p>Gabriel Flores</p>
								<ul>
									<li>Cyber Security</li>
									<li>Cyber Security</li>
									<li>Back-end</li>
								</ul>
							</a>
							<!---->
							<!---->
							<a href="#" target="_blank">
								<div>
									<span>
										<i class="fa-brands fa-linkedin"></i>
									</span>
									<img
										src="https://www.zooplus.pt/magazine/wp-content/uploads/2021/03/kitten-sitzt-boden-768x512-1.jpeg"
										alt=""
									/>
								</div>
								<p>Gabriel Flores</p>
								<ul>
									<li>Cyber Security</li>
									<li>Cyber Security</li>
									<li>Back-end</li>
								</ul>
							</a>
							<!---->
							<!---->
							<a href="#" target="_blank">
								<div>
									<span>
										<i class="fa-brands fa-linkedin"></i>
									</span>
									<img
										src="https://www.zooplus.pt/magazine/wp-content/uploads/2021/03/kitten-sitzt-boden-768x512-1.jpeg"
										alt=""
									/>
								</div>
								<p>Gabriel Flores</p>
								<ul>
									<li>Cyber Security</li>
									<li>Cyber Security</li>
									<li>Back-end</li>
								</ul>
							</a>
							<!---->
							<!---->
							<a href="#" target="_blank">
								<div>
									<span>
										<i class="fa-brands fa-linkedin"></i>
									</span>
									<img
										src="https://www.zooplus.pt/magazine/wp-content/uploads/2021/03/kitten-sitzt-boden-768x512-1.jpeg"
										alt=""
									/>
								</div>
								<p>Gabriel Flores</p>
								<ul>
									<li>Cyber Security</li>
									<li>Cyber Security</li>
									<li>Back-end</li>
								</ul>
							</a>
							<!---->
							<!---->
							<a href="#" target="_blank">
								<div>
									<span>
										<i class="fa-brands fa-linkedin"></i>
									</span>
									<img
										src="https://www.zooplus.pt/magazine/wp-content/uploads/2021/03/kitten-sitzt-boden-768x512-1.jpeg"
										alt=""
									/>
								</div>
								<p>Gabriel Flores</p>
								<ul>
									<li>Cyber Security</li>
									<li>Cyber Security</li>
									<li>Back-end</li>
								</ul>
							</a>
							<!---->
							<!---->
							<a href="#" target="_blank">
								<div>
									<span>
										<i class="fa-brands fa-linkedin"></i>
									</span>
									<img
										src="https://www.zooplus.pt/magazine/wp-content/uploads/2021/03/kitten-sitzt-boden-768x512-1.jpeg"
										alt=""
									/>
								</div>
								<p>Gabriel Flores</p>
								<ul>
									<li>Cyber Security</li>
									<li>Cyber Security</li>
									<li>Back-end</li>
								</ul>
							</a>
							<!---->
							<!---->
						</div>
					</div>
				</div>
			</div>
			<!---->
			<!---->
			<div class="style__section-line">
				<span class="style__section-line__line"></span>
				<div
					class="
						style__section-padding style__section-container
						section-college
					"
				>
					<h2>UNIVERSIDADE</h2>
					<div class="style__section-container__section-content">
						<div>
							<button image-carousel-button>
								<img
									src="https://www.jornalcruzeiro.com.br/_midias/jpg/2022/01/20/uniso-846169.jpg"
									alt="Universidade de Sorocaba Picture"
								/>
								<img
									src="https://www.jornalcruzeiro.com.br/_midias/jpg/2022/01/20/uniso-846169.jpg"
									alt="Universidade de Sorocaba Picture"
								/>
								<img
									src="https://www.jornalcruzeiro.com.br/_midias/jpg/2022/01/20/uniso-846169.jpg"
									alt="Universidade de Sorocaba Picture"
								/>
							</button>
							<div>
								<h3>Universidade de Sorocaba</h3>
								<p>
									A UNISO é muito mais do que uma universidade; é onde as
									habilidades técnicas e interpessoais se convergem. Aqui, somos
									desafiados a nos superar diariamente, a colaborar em projetos
									empolgantes e a crescer não apenas como profissionais de
									tecnologia, mas como indivíduos mais completos. Ela nos equipa
									com as habilidades e conhecimentos essenciais para prosperar
									na carreira tecnológica, e seremos eternamente gratos por
									fazer parte desta comunidade acadêmica inspiradora.
								</p>
								<a href="https://www.uniso.br/home" target="_blank">
									Veja Mais
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
	</body>
</html>
