button.style__menu-button {
  width: 28px;
  height: 28px;
  transition: ease-in-out 0.35s;
}
button.style__menu-button.--on > div > div > div:nth-of-type(1) {
  transform: translateY(-50%) rotate(45deg);
  top: 50%;
}
button.style__menu-button.--on > div > div > div:nth-of-type(2) {
  filter: opacity(0%);
}
button.style__menu-button.--on > div > div > div:nth-of-type(3) {
  transform: translateY(-50%) rotate(-45deg);
  top: 50%;
}
button.style__menu-button > div {
  width: inherit;
  height: inherit;
  position: relative;
}
button.style__menu-button > div > div {
  flex-direction: column;
  width: inherit;
  height: inherit;
  transform: translate(8%);
  position: absolute;
  right: 0px;
}
button.style__menu-button > div > div > div {
  content: "";
  width: 88%;
  height: 2.4px;
  border-radius: 80px;
  background-color: var(--purple);
  transition: ease-in-out 0.22s;
  transform: translateY(-50%);
  position: absolute;
}
button.style__menu-button > div > div > div:nth-of-type(1) {
  top: 30%;
}
button.style__menu-button > div > div > div:nth-of-type(2) {
  top: 50%;
}
button.style__menu-button > div > div > div:nth-of-type(3) {
  top: 70%;
}

@media (min-width: 375px) {
  button.style__menu-button {
    width: 32px;
    height: 32px;
  }
}
/**/
/**/
.style__header-line {
  overflow: hidden;
  position: fixed;
}
.style__header-line span.style__header-line__line {
  display: none;
  width: 2.4px;
  height: 46%;
  background-color: var(--purple);
  position: absolute;
  bottom: 0px;
  left: 22px;
}
.style__header-line span.style__header-line__line::before {
  content: "";
  width: 220px;
  height: 4px;
  border: 2.4px solid var(--purple);
  border-right: 2.4px solid transparent;
  border-bottom: 2.4px solid transparent;
  border-top-left-radius: 8px;
  transform: translateY(-5px);
  position: absolute;
  top: 0px;
  left: 0px;
}

.style__section-line {
  position: relative;
}
.style__section-line span.style__section-line__line {
  width: 2.4px;
  height: 100%;
  background-color: var(--purple);
  position: absolute;
  top: 0px;
  left: 16px;
}
.style__section-line span.style__section-line__line::after {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 100%;
  border: 2.4px solid var(--purple);
  background-color: white;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}

@media (min-width: 700px) {
  .style__header-line span.style__header-line__line,
  .style__header-line span.style__section-line__line,
  .style__section-line span.style__header-line__line,
  .style__section-line span.style__section-line__line {
    left: 31px;
  }
}
@media (min-width: 800px) {
  .style__header-line span.style__header-line__line,
  .style__header-line span.style__section-line__line,
  .style__section-line span.style__header-line__line,
  .style__section-line span.style__section-line__line {
    left: 42px;
  }
}
@media (min-width: 1000px) {
  .style__header-line span.style__header-line__line,
  .style__header-line span.style__section-line__line,
  .style__section-line span.style__header-line__line,
  .style__section-line span.style__section-line__line {
    left: 70px;
  }
}
@media (min-width: 1300px) {
  .style__header-line span.style__header-line__line {
    display: block;
  }
}
@media (min-width: 1700px) {
  .style__header-line span.style__header-line__line,
  .style__header-line span.style__section-line__line,
  .style__section-line span.style__header-line__line,
  .style__section-line span.style__section-line__line {
    left: 110px;
  }
}
/**/
/**/
div.style__section-padding {
  padding-right: 48px;
  padding-left: 48px;
}

@media (min-width: 700px) {
  div.style__section-padding {
    padding-right: 62px;
    padding-left: 62px;
  }
}
@media (min-width: 800px) {
  div.style__section-padding {
    padding-right: 84px;
    padding-left: 84px;
  }
}
@media (min-width: 1000px) {
  div.style__section-padding {
    padding-right: 140px;
    padding-left: 140px;
  }
}
@media (min-width: 1700px) {
  div.style__section-padding {
    padding-right: 220px;
    padding-left: 220px;
  }
}
/**/
/**/
div.style__section-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 96px;
  padding-bottom: 96px;
}
div.style__section-container h1,
div.style__section-container h2 {
  text-align: center;
  margin-bottom: 40px;
  max-width: 680px;
}
div.style__section-container div.style__section-container__section-content {
  width: 100%;
  padding-right: 32px;
  padding-left: 32px;
}

@media (min-width: 1000px) {
  div.style__section-container {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  div.style__section-container h2 {
    margin-bottom: 60px;
  }
  div.style__section-container div.style__section-container__section-content {
    padding-right: 60px;
    padding-left: 60px;
  }
}
@media (min-width: 1700px) {
  div.style__section-container div.style__section-container__section-content {
    padding-right: 120px;
    padding-left: 120px;
  }
}
header {
  z-index: 4;
  width: 100%;
  padding: 26px 0px;
  box-shadow: 0px -1px 4px 0px rgba(0, 0, 0, 0.25);
  background-color: white;
  position: fixed;
  top: 0px;
}
header > div > div {
  position: relative;
}
header > div > div > div:first-of-type {
  display: none;
  align-items: center;
  white-space: nowrap;
  transform: translateY(-50%);
  background-color: white;
  position: absolute;
  top: 50%;
  left: 0px;
}
header > div > div > div:first-of-type::before {
  content: "";
  width: 16px;
  height: 100%;
  background-color: white;
  transform: translateX(-100%);
  position: absolute;
  top: 0px;
}
header > div > div > div:first-of-type ul {
  display: flex;
  align-items: center;
}
header > div > div > div:first-of-type ul span {
  width: 22px;
  height: 2.4px;
  margin: 0px 10px;
  background-color: var(--purple);
}
header > div > div > div:first-of-type ul li {
  transition: ease-in-out 0.35s;
}
header > div > div > div:first-of-type ul li:hover {
  transform: translateY(-8%);
}
header > div > div > button {
  transform: translateY(-50%);
  position: absolute;
  top: 50%;
  right: 0;
}
header > div > div > div:last-of-type {
  display: none;
  gap: 12px;
  transform: translateY(-50%);
  position: absolute;
  top: 50%;
  right: 0px;
}
header > div > div > div:last-of-type > a {
  border-radius: 8px;
  padding: 14px 24px;
  white-space: nowrap;
}
header > div > div > div:last-of-type > a:last-of-type {
  border: 2px solid var(--purple);
  transition: ease-in-out 0.35s;
}
header > div > div > div:last-of-type > a:last-of-type:hover {
  background-color: var(--purple);
  color: white;
}
header > div > div:last-of-type {
  text-align: center;
  transition: ease-in-out 0.35s;
  overflow: hidden;
}
header > div > div:last-of-type > ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 18.4px;
}
header > div a {
  color: var(--purple);
}

div.logo-container {
  display: flex;
  justify-content: center;
  width: 100%;
}
div.logo-container > a {
  display: block;
  width: fit-content;
}
div.logo-container > a img {
  width: 100%;
  height: 36px;
  object-fit: contain;
}

button[menu-button--off] {
  z-index: 3;
  width: 100%;
  height: 100vh;
  background-color: black;
  filter: opacity(0%);
  pointer-events: none;
  transition: ease-in-out 0.35s;
  position: fixed;
}
button[menu-button--off].--on {
  filter: opacity(40%);
  pointer-events: all;
}

@media (min-width: 375px) {
  div.logo-container > a img {
    height: 42px;
  }
}
@media (min-width: 1300px) {
  header {
    padding: 32px 0px;
  }
  header > div > div:first-of-type {
    display: flex;
  }
  header > div > div:first-of-type > div:first-of-type, header > div > div:first-of-type > div:last-of-type {
    display: flex;
  }
  header > div > div:first-of-type > button {
    display: none;
  }
  header > div > div:last-of-type {
    display: none;
  }
  div.logo-container > a img {
    height: 48px;
  }
  button[menu-button--off] {
    display: none;
  }
}

/*# sourceMappingURL=header.css.map */
